kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: "db-module-build" 
spec:
  source: 
    git:
      uri: "https://github.com/kavish-p/openshift-demo-app"
    contextDir: "db"
  strategy: 
    dockerStrategy:
      dockerfilePath: Dockerfile
  output: 
    to:
      kind: DockerImage
      name: 10.168.0.62:8082/docker-kavish/iris-db:latest
    pushSecret:
      name: artifactory-secret
